---
import Layout from '../layouts/Layout.astro';
import nosotros from '../img/nosotros.jpg'
---

<Layout title="Nosotros" description="Página de tienda de instrumentos musicales, guitarras, cursos, blog y más">
	<main class="contenedor">
		<h1 class="heading">Nosotros</h1>

        <div class="contenido">
            <img src={nosotros} alt="imagen sobre nosotros">

            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet nibh consequat, faucibus sapien quis, euismod magna. Sed in turpis ante. In eleifend ullamcorper vestibulum. Etiam non velit sit amet neque molestie dictum quis et ante. Quisque ipsum risus, lacinia eu sem a, finibus tincidunt ipsum. Etiam commodo massa id justo lobortis, eget finibus ligula molestie.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet nibh consequat, faucibus sapien quis, euismod magna. Sed in turpis ante. In eleifend ullamcorper vestibulum. Etiam non velit sit amet neque molestie dictum quis et ante. Quisque ipsum risus, lacinia eu sem a, finibus tincidunt ipsum. Etiam commodo massa id justo lobortis, eget finibus ligula molestie.</p>
            </div>
        </div>
	</main>
</Layout>

<style>
    .contenido {
    display: grid;
    gap: 4rem;
    }
    @media (min-width: 768px) {
        .contenido {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }
</style>